<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="{{ stylesheet }}">
    
    {# fontawesome #}
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />

    {# highlighter #}
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/obsidian.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
    />

    
</head>
<body>
    <!-- the everything div is so that all the content can be centered in the page but everything insie is left aligned -->
    <div class="everything">
        <div class="header">
            <a href="/"><img src="/static/img/favicon.png" class="site-logo" /></a>
            <a href="/"><h1 class="site-title">theabdullahalam.com</h1></a>
            <i class="fa-solid fa-circle-half-stroke dark-mode-toggle" id="light-mode-toggle"></i>
            <button onclick="toggleSidebar()" class="toggle-sidebar"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="content">
            {# {% block content %}{% endblock %} #}
            {{ content | safe }}
        </div>
        <div class="sidebar" id="sidebar">
            {# <div class="persistent">
                <a href="/posts/all/" class="nav-link {% if tag == 'all' %}selected{% endif %}">all posts</a>
            </div> #}

            <div class="tags">
                {% for _tag in collections.postTags %}
                    {% if _tag not in ['all', 'post'] %}
                        {% if tags %}
                            <a 
                                href="/posts/{{ _tag | slugify }}/" 
                                class="nav-link {% if _tag in tags %}selected{% endif %}"
                            >
                                {{ _tag }}
                            </a>
                        {% else %}
                            <a 
                                href="/posts/{{ _tag | slugify }}/" 
                                class="nav-link {% if _tag == tag %}selected{% endif %}"
                            >
                                {{ _tag }}
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="footer"></div>
            {% block footer_content %}{% endblock %}
        </div>
    </div>
    
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/lightmode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.0/languages/python.min.js"></script>
    <script>
        hljs.addPlugin(new CopyButtonPlugin());
        hljs.highlightAll();
    </script>
</body>
</html>
