<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Abdullah Alam - Portfolio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static//css/portfolio/project.css">
</head>
<body>
    
    <div class="white-ring big-ring"></div>
    <div class="white-ring medium-ring"></div>
    <div class="white-ring small-ring"></div>
    <div class="white-square"></div>
    <div class="white-diamond"></div>

    
    <div class="content">
        <a href="/portfolio/dev/" class="button-link">< Back to Portfolio</a>
        <div class="screenshots">
            {% if desktop_screenshot %}
                <img src="{{ desktop_screenshot }}" alt="{{ title}} desktop screenshot" class="screenshot desktop-screenshot">
            {% endif %}
            {% if mobile_screenshot %}
                <img src="{{ mobile_screenshot }}" alt="{{ title }} mobile screenshot" class="screenshot mobile-screenshot">
            {% endif %}
        </div>
        <div class="info">
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </div>
        <a href="/portfolio/dev/" class="button-link">< Back to Portfolio</a>
    </div>
</body>
</html>