@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-left: 2rem;
  color: #f1f1f1;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  body {
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  body {
    padding: 0;
    margin: 1rem;
  }
}
body .everything {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .header {
  display: flex;
  align-items: center;
  margin-left: -0.6rem;
  gap: 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 700px) {
  body .header {
    margin-left: -6px;
  }
}
body .header .site-logo {
  width: 2rem;
  height: 2rem;
  filter: brightness(1.5);
  border: none;
  padding-top: 2px;
  padding-left: 6px;
}
body .content {
  width: 100%;
}
body .content .heading .header-image {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}
body .content .heading h1 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
}
body .content .heading .date {
  color: rgba(230, 220, 215, 0.2823529412);
}
body .content .main-content {
  border: 1px solid #7da766;
  padding: 2rem;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body .content .main-content h1,
body .content .main-content h2,
body .content .main-content h3 {
  font-size: 1rem;
  color: #7da766;
  font-weight: bold;
}
body .content .main-content p {
  margin-bottom: 1.8rem;
}
body .content .main-content a {
  text-decoration: none;
  color: #7da766;
  transition: all 0.5s ease;
}
body .content .main-content a:hover {
  color: #7da766;
  transition: all 0.1s ease;
}
body .content .main-content img {
  max-width: 100%;
  max-height: 95vh;
  border: 1px solid rgba(255, 255, 255, 0.24);
}
body .content .main-content blockquote {
  background: rgb(49, 49, 49);
  margin-left: 0;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 0;
  font-family: "Outfit", sans-serif;
}
body .content .main-content code {
  font-size: 0.8rem;
  width: 100%;
}
body .content .main-content code:not([class]) {
  font-size: 1rem;
  background: rgb(41, 41, 41);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
body .content .main-content table tr td,
body .content .main-content table tr th {
  padding-right: 3rem;
}
body .content .main-content table tr td a,
body .content .main-content table tr th a {
  font-weight: bold;
  color: #7da766;
}
body .footer {
  grid-area: footer;
}

/*# sourceMappingURL=base.css.map */
