<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Portfolio - Abdulullah Alam</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/portfolio/dev.css">
</head>
<body>


    <div class="white-ring big-ring"></div>
    <div class="white-ring medium-ring"></div>
    <div class="white-ring small-ring"></div>
    <div class="white-square"></div>
    <div class="white-diamond"></div>


    <div class="hero">
        <div class="intro">
            <p class="pre-title">Hi, my name is</p>
            <h1>Abdullah Alam</h1>
            <p class="subtitle">I design and build things for the web.</p>
        </div>
        <img src="/media/images/abdullah.jpg" alt="abdullah" class="abdullah-image">
    </div>


    <div class="menu">
        <a href="/">PROJECTS</a>
        <a href="/">SKILLS</a>
        <a href="/">CONTACT</a>
        <a href="/">BLOG</a>
    </div>





    <div class="projects section">

        <h1>Projects</h1>


        <div class="project-list">
            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/garden-desktop.png" alt="digital garden desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/garden-mobile.png" alt="digital garden mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Digital Garden</h1>
                    <p>This is my personal website - a place where I share anything and everything.</p>
                    <a href="/" class="button-link">Check it out</a>
                </div>
            </div>
    
            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/sp-desktop.png" alt="sentient pixels desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/sp-mobile.png" alt="sentient pixels mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Travel Blog</h1>
                    <p>A travel blog that started as an experiment to push the limits of pure HTML/CSS with no libs or frameowrks, now a running blog.</p>
                    <a href="/" class="button-link">Check it out</a>
                </div>
            </div>
    
            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/yodaplus.png" alt="yodaplus desktop screenshot" class="screenshot desktop-screenshot">
                </div>
                <div class="description yodaplus">
                    <h1>Yodaplus</h1>
                    <p>Worked as a full-stack engineer with Yodaplus, on building an asset tokenisation platform.</p>
                    <a href="/" class="button-link">Check it out</a>
                </div>
            </div>


            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/neelam-desktop.png" alt="neelam tutorials desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/neelam-mobile.png" alt="neelam tutorials mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Neelam Tutorials</h1>
                    <p>
                        Built the landing page for a tuition classes.
                    </p>
                    <a href="/" class="button-link">Check it out</a>
                </div>
            </div>



            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/dancenow-desktop.png" alt="dancenow desktop screenshot" class="screenshot desktop-screenshot">
                </div>
                <div class="description yodaplus">
                    <h1>Dance-Now</h1>
                    <p>
                        Built a scheduling system for organizing ballroom dance events, matching amateurs, professionals and dance forms, across multiple dance studios, and scheduling them on the same event down to the second.
                    </p>
                    <a href="/" class="button-link">Check it out</a>
                </div>
            </div>


        </div>


    </div>



    <div class="skills section">
        <h1>Skills</h1>
        <p>
            I am a curious individual, always learning something new. As such, I understand that different technologies are just different approaches to similar problems.
        </p>
        <p>
            Nonetheless, here are the technologies I am most familiar with:
        </p>
        <div class="skills-list">
            <div class="skill">

            </div>
        </div>

    </div>






    <div class="contact section">
        <h1>Contact</h1>
        <p>
            Find me on...
        </p>

        <div class="contact-list">
            <a href="/">GitHub</a>
            <a href="/">Unsplash</a>
            <a href="/">Instagram</a>
            <a href="/">BlueSky</a>
        </div>
        <div class="contact-list">
            <a href="/">My Digital Garden</a>
            <a href="/">My Travel Blog</a>
        </div>

    </div>






    




</body>
</html>