<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Portfolio - Abdulullah Alam</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/portfolio/dev.css">
</head>
<body>


    <div class="white-ring big-ring"></div>
    <div class="white-ring medium-ring"></div>
    <div class="white-ring small-ring"></div>
    <div class="white-square"></div>
    <div class="white-diamond"></div>


    <div class="hero">
        <div class="intro">
            <p class="pre-title">Hi, my name is</p>
            <h1>Abdullah Alam</h1>
            <p class="subtitle">I design and build things for the web.</p>
        </div>
        <img src="/media/images/abdullah.jpg" alt="abdullah" class="abdullah-image">
    </div>


    <div class="menu">
        <a href="#projects">PROJECTS</a>
        <a href="#skills">SKILLS</a>
        <a href="#contact">CONTACT</a>
        <a href="/">BLOG</a>
    </div>





    <div class="projects section" id="projects">

        <h1>I've worked on...</h1>


        <div class="project-list" id="digital-garden-project">
            <div class="project">
                <div class="screenshots">
                    <img src="/media/images/garden-desktop.png" alt="digital garden desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/garden-mobile.png" alt="digital garden mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Digital Garden</h1>
                    <p>This is my personal website - a place where I share anything and everything.</p>
                    <a href="/portfolio/projects/digital-garden/" class="button-link">Check it out</a>
                </div>
            </div>
    
            <div class="project" id="sentient-pixels-project">
                <div class="screenshots">
                    <img src="/media/images/sp-desktop.png" alt="sentient pixels desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/sp-mobile.png" alt="sentient pixels mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Travel Blog</h1>
                    <p>A travel blog that started as an experiment to push the limits of pure HTML/CSS with no libs or frameowrks, now a running blog.</p>
                    <a href="/portfolio/projects/travel-blog/" class="button-link">Check it out</a>
                </div>
            </div>
    
            <div class="project" id="yodaplus-project">
                <div class="screenshots">
                    <img src="/media/images/yodaplus.png" alt="yodaplus desktop screenshot" class="screenshot desktop-screenshot">
                </div>
                <div class="description yodaplus">
                    <h1>Yodaplus</h1>
                    <p>Worked as a full-stack engineer with Yodaplus, on building an asset tokenisation platform.</p>
                    <a href="/portfolio/projects/yodaplus/" class="button-link">Check it out</a>
                </div>
            </div>


            <div class="project" id="neelam-project">
                <div class="screenshots">
                    <img src="/media/images/neelam-desktop.png" alt="neelam tutorials desktop screenshot" class="screenshot desktop-screenshot">
                    <img src="/media/images/neelam-mobile.png" alt="neelam tutorials mobile screenshot" class="screenshot mobile-screenshot">
                </div>
                <div class="description">
                    <h1>Neelam Tutorials</h1>
                    <p>
                        Built the landing page for a tuition classes.
                    </p>
                    <a href="/portfolio/projects/neelam-tutorials/" class="button-link">Check it out</a>
                </div>
            </div>



            <div class="project" id="dancenow-project">
                <div class="screenshots">
                    <img src="/media/images/dancenow-desktop.png" alt="dancenow desktop screenshot" class="screenshot desktop-screenshot">
                </div>
                <div class="description yodaplus">
                    <h1>Dance-Now</h1>
                    <p>
                        Built a scheduling system for organizing ballroom dance events, matching amateurs, professionals and dance forms, across multiple dance studios, and scheduling them on the same event down to the second.
                    </p>
                    <a href="/portfolio/projects/dance-now/" class="button-link">Check it out</a>
                </div>
            </div>


        </div>


    </div>



    <div class="skills section" id="skills">
        <h1>Skills</h1>
        <p>
            I am a curious individual, always learning something new. Here are the technologies I am most familiar with:
        </p>
        <div class="skill-list">

            <div class="skill">
                <img src="/media/logos/node.webp" alt="nodejs logo">
                <h3>Node</h3>
            </div>

            
            <div class="skill">
                <img src="/media/logos/React.webp" alt="reactjs logo">
                <h3>React</h3>
            </div>
            
            <div class="skill">
                <img src="/media/logos/JavaScript-logo.png" alt="javascript logo">
                <h3>Javascript</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/Typescript_logo_2020.svg.png" alt="typescript logo">
                <h3>TypeScript</h3>
            </div>
            
            <div class="skill">
                <img src="/media/logos/html5.webp" alt="html5 logo">
                <h3>HTML5</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/scss.png" alt="scss logo">
                <h3>SCSS</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/linux.png" alt="linux logo">
                <h3>Linux</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/docker.webp" alt="docker logo">
                <h3>Docker</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/nginx.webp" alt="nginx logo">
                <h3>Nginx</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/postgresql.png" alt="postgresql logo">
                <h3>PostgreSQL</h3>
            </div>
            <div class="skill">
                <img src="/media/logos/django-icon.svg" alt="django logo">
                <h3>Django</h3>
            </div>


            <div class="skill">
                <img src="/media/logos/Flask.png" alt="flask logo">
                <h3>Flask</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/python-logo.png" alt="python logo">
                <h3>Python</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/ethereum.png" alt="smart contracts logo">
                <h3>Smart<br>Contracts</h3>
            </div>

            <div class="skill">
                <img src="/media/logos/gopher.png" alt="golang logo">
                <h3>Golang</h3>
            </div>

        </div>

    </div>






    <div class="contact section" id="contact">
        <h1>Contact</h1>
        <p>
            Find me on...
        </p>

        <div class="contact-list">
            <a href="https://github.com/theabdullahalam" class="button-link">GitHub</a>
            <a href="https://unsplash.com/@theabdullahalam" class="button-link">Unsplash</a>
            <a href="https://www.instagram.com/theabdullahalam/" class="button-link">Instagram</a>
            <a href="https://bsky.app/profile/theabdullahalam.bsky.social" class="button-link">BlueSky</a>
        </div>
        <div class="contact-list">
            <a href="https://theabdullahalam.com/" class="button-link">My Digital Garden</a>
            <a href="https://sentient-pixels.com/" class="button-link">My Travel Blog</a>
        </div>
        <div class="contact-list">
            <a href="mailto:abdullahalam@protonmail.com" class="button-link">Email</a>
        </div>

    </div>






    




</body>
</html>