@import "vars.scss";

body {

    img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 5rem;
        margin-top: -4px;
        margin-bottom: 1rem;
        line-height: 6rem;
    }
    
    .bio {
        
        width: 50%;
        margin-top: 0;
        font-weight: bold;

        @media screen and (max-width: 700px) {
            width: 80%;
        }
    }
    
    .popular-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 50%;
        margin-top: 2rem;

        @media screen and (max-width: 700px) {
            width: 80%;
        }
    
        a.tag {
            text-decoration: none;
            color: $theme_green;
            border: 2px solid $theme_green;
            font-weight: bold;
            padding: 0.5rem;
            font-size: 1.2rem;
    
            &:hover {
                background-color: $theme_green;
                color: rgba(0, 0, 0, 0.788);
                transition: all 0.1s ease;
            }
        }
    }


    h2 {

        margin-top: 3rem;

    }
    .contact-list {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

}
